html {
	font-family: "Inter", "system-ui";
}

body {
	margin: 0;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "InterVariable", "system-ui";
	} /* If using the variable font */
}
